rules:
  indent: [2, 4, {"SwitchCase": 1}]
  quotes:
    - 2
    - single
  linebreak-style:
    - 2
    - unix
  semi:
    - 2
    - always
  strict:
    - 2
    - function
  comma-dangle:
    - 2
    - always-multiline
  eqeqeq:
    - 2
    - smart
  no-console:
    - 1
env:
  amd: true
  browser: true
  jasmine: true
globals:
  __DEV__: true
extends: 'eslint:recommended'
plugins:
  - jasmine
